{% extends "admin/base_site.html" %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- CONTENT -->
{% block content %}
{% if user.is_active and user.is_staff %}
<div class="gipsy_dashboard">
    {% if dashboard.has_rows %}
        {% for row in dashboard.rows %}
            <div class="row">{% include 'gipsy/dashboard/widgets_list.html' with widgets=row %}</div>
        {% endfor %}
    {% else %}
        {% include 'gipsy/dashboard/widgets_list.html' with widgets=dashboard.widgets %}
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block footer %}{% endblock %}
