html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 90px;
    background-image: url(../img/bg_body-01.jpg);
}

.body-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 0 25px 90px;
    font-size: 13px;
    background: #2e3641;
    .revsquare-logo {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 78px;
        height: 69px;
        background: url(../img/ico_revsquarelogo-01.png);
        text-indent: -998em;
    }
    p {
        display: inline;
        font-weight: 300;
        text-transform: uppercase;
        color: rgba(204, 204, 204, 0.5);
    }
}


.navbar-top {
    border: 0;
    .navbar-brand {
        height: 50px;
        padding: 8px 0 0;
        background: #fff;
        img {
            width: 100%;
        }
        &:hover,
        &:focus {
            background-color: #fff;
        }
    }
    .navbar-nav {
        li {
            position: relative;
            a {
                font-weight: 300;
                &:hover {
                    background-color: #3b4653;
                }
            }
            &.active {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    margin-left: -6px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 6px 0 6px;
                    border-color: #6098d1 transparent transparent transparent;
                }
            }
            &.dropdown.open {
                background-color: #3b4653;
            }
            .dropdown-menu {
                border: 0;
                li {
                    a {
                        padding: 6px 20px;
                        &:hover {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
    .fa {
        color: #5995cf;
        font-size: 16px;
    }
    .profile-dropdown {
        .dropdown-menu {
            right: 0;
            left: auto;
            i {
                color: #bdbfbe;
            }
        }
    }
}

.nav-stacked {
    .dropdown-menu {
        position: relative;
        min-width: 100%;
        margin: 0;
        padding: 10px 0;
        background-color: #3b4653;
        box-shadow: none;
        border: 0;
    }
    li + li {
        margin: 0;
    }
}

.dashboard-sidebar {
    font-weight: 100;
    .nav {
        > li {
            clear: both;
            > a {
                position: relative;
                border-bottom: 0;
                &:focus {
                    background: #2e3641;
                }
                &:hover {
                    background: #3b4653;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 7%;
                    width: 86%;
                    height: 1px;
                    background: rgba(242, 242, 242, 0.3);
                }
            }
            &.open {
                > a {
                    background: #2e3641;
                    &:after {
                        display: none;
                    }
                    &:hover {
                        background: #3b4653;
                    }
                }
            }
            &.active {
                position: relative;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    z-index: 100;
                    border-radius: 50%;
                }
                &:before {
                    margin-top: -9px;
                    margin-right: -9px;
                    width: 18px;
                    height: 18px;
                    background: url(../img/bg_body-01.jpg);
                }
                &:after {
                    z-index: 110;
                    margin-top: -5px;
                    margin-right: -5px;
                    width: 10px;
                    height: 10px;
                    background: #6098d1;
                }
            }
        }
    }
    .fa {
        font-size: 17px;
    }
    .fa.pull-right {
        color: #5995cf;
        font-size: 16px;
    }
    &:after {
        content: '';
        background: #2e3641;
    }
}

.gipsy_dashboard {
    h1 {
        line-height: 1.1;
    }

    div, h2, h3, h4 {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857;
    }
}

.traffic-overview {
    width: 100%;
    height: 360px;
    background: #6098d1;
    .panel-heading {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    .panel-body {
        height: 319px;
    }
}

.glance-panel {
    height: 360px;
}

.list {}

.list-glance {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        a {
            display: block;
            padding-bottom: 20px;
        }
        i {
            font-size: 26px;
            margin-right: 20px;
            color: #fff;
        }
        span {
            font-size: 25px;
            font-weight: 100;
            color: #6098d1;
            strong {
                font-weight: 900;
            }
        }
    }
    li + li {
        a {
            padding-top: 20px;
            border-top: 1px dashed rgba(242, 242, 242, 0.3);
        }
    }
}

.list-lastupdate,
.list-mostviewed {
    margin: 0;
    padding: 0;
    list-style: none;
    .list-item {
        padding-bottom: 18px;
    }
    .item-author {
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 300;
        color: #9eb2c0;
    }
    .item-title {
        margin-bottom: 4px;
        font-size: 15px;
        font-weight: 300;
        color: #5a95d0;
    }
    .item-content {
        margin: 0;
        font-size: 15px;
        color: #4d4b4d;
    }
    .list-item + .list-item {
        padding-top: 18px;
        border-top: 1px dashed #9eb2c0;
    }
}

.panel-default {
    i {
        font-size: 20px;
    }
}

.panel-info {
    background: #fff;
    .panel-heading {
        position: relative;
        padding: 15px;
        font-size: 15px;
        a {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 52px;
            height: 51px;
            background: #fff;
            overflow: hidden;
            i {
                position: relative;
                top: 16px;
                right: 20px;
                font-size: 20px;
                color: #6098d1;
            }
        }
    }
    .panel-body {
        padding-top: 25px;
        color: #4d4b4d;
    }
}


.container {
    .grp-object-tools {
        top: 0;
        margin-bottom: 20px;
    }
    #grp-content {
        top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

#grp-content-title h1 {
    display: none;
}


.ui-tabs .ui-tabs-panel:after {
    content: "";
    display: block;
    clear: both;
}
.ui-tabs .ui-tabs-panel .col1 .vXMLLargeTextField,
.ui-tabs .ui-tabs-panel .col1 .vLargeTextField {
    width: 100%;
}

@media (max-width: 1200px) {
    .dashboard-sidebar {
        font-size: 90%;
    }
    .navbar-top .navbar-brand {
        padding: 12px 0 0;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        font-size: 78%;
    }
}

@media (min-width: 769px) {
    .profile-dropdown {
        .navbar-nav {
            float: right;
        }
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        margin: 0;
    }
    .navbar-top .row .col-xs-12:first-child {
        background: #fff;
    }
    .navbar-top .navbar-brand {
        padding: 8px 0 0;
    }
}
