{% load i18n %}

<aside class="col-md-2 dashboard-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#">
                <i class="fa fa-tachometer"></i>
                Dashboard
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-file-image-o"></i>
                Posts
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All posts</a></li>
                <li><a href="#">Add New</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Re-Order</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-database"></i>
                Media
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All posts</a></li>
                <li><a href="#">Add New</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Re-Order</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-comment-o"></i>
                Comments
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All posts</a></li>
                <li><a href="#">Add New</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Re-Order</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-pie-chart"></i>
                Infographics
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All posts</a></li>
                <li><a href="#">Add New</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Re-Order</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-slideshare"></i>
                Slideshows
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All posts</a></li>
                <li><a href="#">Add New</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Re-Order</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-video-camera"></i>
                Videos
                <i class="fa fa-chevron-down pull-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All posts</a></li>
                <li><a href="#">Add New</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Re-Order</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-file-text-o"></i>
                Articles from the Economist
            </a>
        </li>
    </ul>
</aside>
