<div class="panel panel-default glance-panel">
    <div class="panel-heading">
        AT A GLANCE
        <a href="#" class="pull-right">
            <i class="fa fa-refresh"></i>
        </a>
    </div>
    <div class="panel-body">
        <ul class="list list-glance">
            <li class="list-item"><a href="#"><i class="fa fa-file-image-o"></i><span><strong>75</strong> posts</span></a></li>
            <li class="list-item"><a href="#"><i class="fa fa-comment-o"></i><span><strong>192</strong> comments</span></a></li>
            <li class="list-item"><a href="#"><i class="fa fa-files-o"></i><span><strong>12</strong> pages</span></a></li>
            <li class="list-item"><a href="#"><i class="fa fa-flag"></i><span><strong>4</strong> in moderation</span></a></li>
        </ul>
    </div>
</div>
